<a href="https://colab.research.google.com/github/Abinayak03/Machine_learning/blob/main/percentile.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Telecom Customer Churn Case Study

You have been provided with a dataset related to telecom customer churn. Each row in the dataset represents a unique customer, and the columns contain various attributes and information about these customers.

The data set includes information about:
- Churn Column: Indicates customer churn within the last month.
- Services Info: Subscribed services like phone, internet, etc.
- Account Details: Tenure, contract, billing, charges.
- Demographics: Gender, age, and family status.

## Load the dataset in a dataframe

In [1]:
#import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
#1. import the provided dataset to dataframe (telecom_customer_churn.csv)
#2. change the settings to display all the columns
#3. check the number of rows and columns
#4. check the top 5 rows
df=pd.read_csv('telecom_customer_churn.csv')
pd.set_option('display.max_columns',None)
df.head()

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,contract,paperless_billing,payment_method,monthly_charges,total_charges,churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [5]:
print(df.shape)

(7043, 21)

In [6]:
#display all the column names
df.columns

Index(['customer_id', 'gender', 'senior_citizen', 'partner', 'dependents',
       'tenure', 'phone_service', 'multiple_lines', 'internet_service',
       'online_security', 'online_backup', 'device_protection', 'tech_support',
       'streaming_tv', 'streaming_movies', 'contract', 'paperless_billing',
       'payment_method', 'monthly_charges', 'total_charges', 'churn'],
      dtype='object')

In [7]:
# Check if the dataset contains nulls
df.isnull().sum()

customer_id          0
gender               0
senior_citizen       0
partner              0
dependents           0
tenure               0
phone_service        0
multiple_lines       0
internet_service     0
online_security      0
online_backup        0
device_protection    0
tech_support         0
streaming_tv         0
streaming_movies     0
contract             0
paperless_billing    0
payment_method       0
monthly_charges      0
total_charges        0
churn                0
dtype: int64

In [8]:
#check the datatype of all columns
df.dtypes

customer_id           object
gender                object
senior_citizen         int64
partner               object
dependents            object
tenure                 int64
phone_service         object
multiple_lines        object
internet_service      object
online_security       object
online_backup         object
device_protection     object
tech_support          object
streaming_tv          object
streaming_movies      object
contract              object
paperless_billing     object
payment_method        object
monthly_charges      float64
total_charges         object
churn                 object
dtype: object

In [9]:
# Fix the datatype
#convert the datatype of 'monthly_charges', 'total_charges', 'tenure' to numeric datatype (pd.to_numeric)
df['monthly_charges']=pd.to_numeric(df['monthly_charges'],errors='coerce')
df['total_charges']=pd.to_numeric(df['total_charges'],errors='coerce')
df['tenure']=pd.to_numeric(df['tenure'],errors='coerce')

Q1 - Calculate the mean, median, and mode of the monthly_charges column

In [10]:
mean_m=df['monthly_charges'].mean()
median_m=df['monthly_charges'].median()
mode_m=df['monthly_charges'].mode()
print(mean_m)
print(median_m)
print(mode_m)

64.76169246059918
70.35
0    20.05
Name: monthly_charges, dtype: float64

Q2 - Calculate the 25th, 50th, and 75th percentiles of the total_charges column

In [12]:
df['total_charges'].quantile([0.25,0.5,0.75])

0.25     401.4500
0.50    1397.4750
0.75    3794.7375
Name: total_charges, dtype: float64

Q3 - Calculate the range of monthly_charges column?

Hint - Range is the difference between max and min of monthly_charges.

In [15]:
range_m=df.monthly_charges.max()-df.monthly_charges.min()
range_m

100.5

Q4 - What is the first quartile of the monthly_charges column for customers who have churned?

In [18]:
df_churned=df[df.churn=="Yes"]
df_churned.monthly_charges.quantile(0.25)

56.15

Q5 - What is the third quartile of the total_charges column for customers who have not churned?

In [20]:
df_not_churned=df[df['churn']=="No"]
df_not_churned.total_charges.quantile(0.75)

4264.125

Q6-  What is the mode of the payment method column for customers who have churned?

In [21]:
df_churned.payment_method.mode()

0    Electronic check
Name: payment_method, dtype: object

Q7 - What is the mean of the total charges column for customers who have churned and have a month-to-month contract?

In [23]:
df_churned_month=df_churned[df_churned['contract']=='Month-to-month']
df_churned_month.total_charges.mean()

1164.4605740181269

Q8 - What is the median of the tenure column for customers who have not churned and have a two-year contract?

In [24]:
df_not_churned_two=df_not_churned[df_not_churned['contract']=='Two year']
df_not_churned_two.tenure.median()

64.0